html,*{padding: 0;margin: 0;}
:root
{
    --main-color:#2e2c2c;
    --Text-color:#fff;
    --bg-color:#1d1b1b;

}
/* Star Global Variables */
.fa-solid{color: var(--Text-color);}
.colred{color: var(--main-color);}
.flex,
.flex-column,
.flex-center,
.flex-between,
.flex-around,
.flex-evenly{display: flex;align-items: center;}
.flex-between{justify-content: space-between;}
.flex-around{justify-content: space-around;}
.flex-evenly{justify-content: space-evenly;}
.flex-column{flex-direction: column;}

a{text-align: none;color: var(--Text-color);}
.orangred{color: var(--Orangered);}
.scroller-y::-webkit-scrollbar{background: transparent;width: 6px;border-radius: 20px;}
.scroller-y::-webkit-scrollbar-thumb{background: transparent;width: 6px;border-radius: 20px;}
.scroller-x::-webkit-scrollbar{background: transparent;height: 6px;border-radius: 20px;}
.scroller-x::-webkit-scrollbar-thumb{background: transparent;height: 6px;border-radius: 20px;}
.card,.Card,.news-card{cursor: pointer;}
body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height:100vh;
    min-height:100dvh;
    width: 100vw;
    background: var(--bg-color) !important;
    color: var(--Text-color) !important;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    width: 8px;
    border-radius: 20px;
    /* background: #fff; */
    background: #000;

}
body::-webkit-scrollbar-thumb{
    width: 8px;
    border-radius: 20px;
    /* background: #000; */
    background: #fff;
}
nav
{
    background: transparent !important;
    color: var(--Text-color) !important;
    /* border-bottom: solid 1px #eee; */
    padding-bottom: 1.4rem;
    z-index: 100 !important;
}
.nav-link
{
    color: #fff;
    font-weight: bold;
}
.active{font-weight: bolder;}
@media (max-width:768px) {
    nav{-webkit-backdrop-filter: blur(20px) !important;backdrop-filter: blur(20px) !important;}
}
.logo a,
.fa-bars,
.navbar-brand,
.footer-logo
.nav-link{color: var(--Text-color) !important; text-decoration: none !important;}
form {position:relative;width: 18em}
form input{background: transparent !important;width: 100%;}
form input::placeholder{color: gray !important;}
form input:focus{outline: solid 1px yellow !important;}
form button{position: absolute;right: .5rem;top: 50%;translate: 0 -50%;color: #ffffffb7 !important;}
form button:hover{color: #ffffff !important;}
.hero-section
{
    /* position: relative; */
    height: 100vh;
    height: 100dvh;
    margin-top:0rem;
}
.hero-card
{
    position: absolute;
    top: 40%;
    left: 8%;
    translate: 0 -50%;
    width: 18rem;
    max-width: 100vw;
    white-space: wrap;
}
@media (max-width:375px) {
    .hero-card
{
    left: 2%;
}
}
.News-main .hero-card{width: 40rem;}

#HeaderCover{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10 !important;
    object-fit: cover;
    filter: brightness(40%);
}

.carousel-cards-holder{overflow-x: scroll !important;}
.cards-holder{flex-wrap: wrap;}
.carousel-countainer{position:relative;}
.arrows-holder
{
    position: absolute;
    top: 42%;
    left: 0;
    min-width: 100%;
    height: 0;
    z-index: 100;
}
.arrow:hover{opacity: 1;}
.arrow
{
    cursor: pointer;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    background: #fff;
    color: #000;
    opacity: .2;
    transition: .3s linear;
}

.carousel-cards-holder::-webkit-scrollbar{display: none;}
.card
{
    position: relative;
    height: 14rem;
    min-width: 10rem;
    background: transparent !important;
    border-radius: 12px;
    overflow: hidden;
}
/* ! */
.card::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top,#000,transparent);
    z-index: 1 !important;
}
/* ! */
.rate-score
{
    position: absolute;
    top: 0;right: 0;
    height: fit-content;
    width: 50%;
    translate: 45% 0;
    padding: .1rem .7rem; 
    border-radius: 6px;
    background: rgb(41, 39, 39);
    z-index: 4;
    font-weight: lighter;
}
.special-section{margin-top: -20%;}
@media (max-width:320px) {
    .catalog-main .card,
    .card{
        height: 9rem;
        width: 5rem;
    }
    .carousel-cards-holder .card{min-width: 5rem;}
   .card h5{font-size: .9rem !important;}
   .card span{font-size: .6rem !important;}
   .footer-link{font-size: .8rem;}
}
.card img,.card video,.card .video
{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card h5{font-size: 1.2rem;}
.card h5,
.card span
{
    position:absolute;
    left: .5rem;
    color: #fff !important;
    z-index: 2 !important;
}   
.card h5{bottom: 2rem;}
.card span{bottom: 1rem;}

/*? showing the background video:hover*/
.card:hover>.after-card{display: block;}
.after-card
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index:2;
    display: none;
    transition: .3s linear;
    /* background: red; */
}
.after-card span i:hover{ scale: 1.2;transition: ease-in .3s;}
.fa-thumbs-down
{
    position: absolute;
    left: 6.5rem;
    bottom: .6rem;
    scale: 1.1;
    padding: .5rem;
    border-radius: 50%;border:solid 1px #fff;
}
.fa-thumbs-up
{
    position: absolute;
    right: -2.4rem;
    bottom: .6rem;
    scale: 1.1;
    padding: .5rem;
    border-radius: 50%;border:solid 1px #fff;
}
@media (max-width:320px) {
    .fa-thumbs-down{left: 2.6rem;}
    .fa-thumbs-up{right: -1.7rem;}
}


/* ! Styling the collections */
.collection-card
{
    flex-grow: 1;
    cursor: pointer;
    background: var(--main-color);
    border-radius: 12px;
}
.cards{background: var(--main-color);height: 16rem; width: 100%;position: relative;overflow: hidden;}
.cards .card
{
    position: absolute;
    height: 100%;
    width: 50%;
    top: 50%;
    left: 50%;
    translate: -50% 0%;
    border: solid 5px #000;
}
.cards .card:hover{scale: 1.1;transition: .5s linear ;}
.collection-card .Cards .Card:nth-child(1)
{
  rotate: -10deg !important;
  left: 30%;
  top: 12%;
}
.collection-card .Cards .Card:nth-child(2)
{
  rotate: 6deg !important;
  left: 50%;
  top: 25%;
}
.collection-card .Cards .Card:nth-child(3)
{
  rotate: 16deg !important;
  left:67%;
  top: 40%;
}
.CollectionCountainer
{
    display: flex;
    gap: 1rem;
}
.CollectionCountainer h5
{
    width: 10rem;
    margin: auto;
}

/* ! Catalog Styling */
.catalog-countainer
{
    min-height: max-content;
    max-width: 100vw;
}
.catalog-column{height:fit-content;}
.accordion{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.accordion-item
{
    width: 100% !important;
    background: transparent !important;
    margin-top: 1rem;
}
.accordion-button
{
    background: transparent !important;
    color:var(--Text-color);
    font-weight: 700;
}
.accordion-body{color: var(--Text-color);}
.year-card
{
    padding: .7rem;
    border: solid 1px var(--Text-color);
    border-radius: 9px;
}
.years-accordion-body{margin-left: -10%;}
.season,input [type="checkbox"]{cursor: pointer;}
.view-all{color: green !important; font-size: 17px;}

.catalog-main .card
{
    height: 12rem;
    width: 10rem;
}
@media (max-width:320px) {
    .catalog-main .card,
    .user-main .card{
        height: 9rem;
        max-width: 5rem;
        width: 5rem !important;
        transform: scaleX(.4);
        transform: scaleY(.7);
    }
}
/* ! Styling the News page */
.news-section{margin-top: -20%;z-index: 100 !important;}
@media (max-width:767px) {
    .News-main .row{
        flex-direction: column;
    }
}
.news-card 
{
    position: relative;
    height: 18rem;
    display: flex;
    align-items: start;
    justify-content: flex-end;
    flex-direction: column;
    border-radius: 12px !important;
    overflow: hidden;
    flex-grow: 1;
}
.news-card img 
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index:-2;
}
.news-card::before{
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top,#000 10%,transparent);
    z-index:-1;
}



/*! User Main Stylings */
  .fa-solid.fa-filter{color: #000 !important;}
  .top-user-cover
  {
      height: 2.7rem;
      width: 2.7rem;
      border-radius: 50%;
  }
  .dropdown button
  {
      border: none !important;
      color: #eeee !important;
  }
  .user-main #user-bg-cover
  {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 47% !important;
      z-index: -2;
      filter: brightness(40%);
      object-fit: cover;
  }
  .hero-user {
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      float: left;
      gap: 1rem;
  }
  .user-profile
  {
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      object-fit: cover;
  }

  .first-section
  {
    margin-top: 6%;
  }
  .first-section .col-lg-9 div
  {
    white-space:wrap;
  }
  .first-section .col-lg-9 
  {
    display: flex;
    align-items: center;
  }
  .score-type.active{ border-bottom: 2px solid #ffffff;}
  .score-type
  {
    border-bottom: 1px solid #ffffffa6;
    padding-bottom: .3rem;
  }


  /* / ! styling the Regester Page  / */
.main-card button{font-weight: bolder;width: 100%;}
.main-card
{
    border: solid 1px #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 2rem 1rem;
    border-radius: 12px;
}
.main-card input
{
    width: 100%;
    height: 2.9rem;
    padding: 0 12px;
    border-radius: 8px;
    border: solid 1px #eee;
    background: transparent !important;
    color: #fff;
    font-weight: bold;
}
.fa-eye.position-absolute{right: 2%;top: 35%;cursor: pointer;}

@media (max-width:320px)
{
    .main-card{
        width:100vw;
    }
}

  






footer{margin-top: 5rem;}
.footer-logo{text-decoration: none !important;}
.footer-text
{
    display: flex;
    align-items: center;
    justify-content:center;
}
.footer-text li{list-style: none !important; white-space: nowrap;}
.col-icons li{margin:0 1rem;}