html,
* {
  padding: 0;
  margin: 0;
}
:root {
  --backUp-color: green;
  --main-color: #2c2b2b;
  --Text-color: #fff;
  --bg-color: #1d1b1b;
}
.btn:hover {
  background: var(--Text-color) !important;
  color: var(--main-color) !important;
  transition: All 0.4s linear;
}
/* Star Global Variables */
<<<<<<< HEAD
.fa-solid {
  color: var(--Text-color);
}
.colred {
  color: var(--main-color);
}
=======
>>>>>>> 486dd4ccf7e4916193a34fc15f786a525611e35c
.flex,
.flex-between,
.flex-around,
<<<<<<< HEAD
.flex-evenly {
  display: flex;
  align-items: center;
=======
.flex-evenly,
.flex-center,
.flex-column,
.flex-wrap
.flex{display: flex;align-items: center;}
.flex-column{flex-direction: column;}
.flex-center{justify-content:center;}
.flex-between{justify-content:space-between;}
.flex-around{justify-content:space-around;}
.flex-evenly{justify-content:space-evenly;}
.flex-wrap{flex-wrap: wrap;}

.fa-solid{color: var(--Text-color);}
.scroller-y::-webkit-scrollbar{background: transparent;width: 6px;border-radius: 20px;}
.scroller-y::-webkit-scrollbar-thumb{background: transparent;width: 6px;border-radius: 20px;}
.scroller-x::-webkit-scrollbar{background: transparent;height: 6px;border-radius: 20px;}
.scroller-x::-webkit-scrollbar-thumb{background: transparent;height: 6px;border-radius: 20px;}
.card,.Card,.news-card{cursor: pointer;}
body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height:100vh;
    min-height:100dvh;
    width: 100vw;
    background: var(--bg-color) !important;
    color: var(--Text-color) !important;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
>>>>>>> 486dd4ccf7e4916193a34fc15f786a525611e35c
}
.flex-between {
  justify-content: space-between;
}
.flex-around {
  justify-content: space-around;
}
.flex-evenly {
  justify-content: space-evenly;
}
.flex-column {
  flex-direction: column;
}
.main-card a {
  text-align: none;
  color: var(--Text-color);
}
.fa-star {
  color: yellow !important;
}
.status.watched-btn i {
  color: var(--backUp-color) !important;
}
.watch-later-btn.fa-bookmark {
  position: relative !important;
}
.line-clamp {
  --max-lines: 6 !important;
  font-weight: 500 !important;
  display: -webkit-box !important;
  overflow: hidden !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: var(--max-lines) !important;
}
/* ######## zindex ####### */
.z-index-posetive-1 {
  z-index: 1 !important;
}
.z-index-posetive-2 {
  z-index: 2 !important;
}
.z-index-posetive-3 {
  z-index: 6 !important;
}
.z-index-posetive-4 {
  z-index: 8 !important;
}
.z-index-posetive-5 {
  z-index: 10 !important;
}
.z-index-hot-posetive {
  z-index: 100 !important;
}

.z-index-minus-1 {
  z-index: -1 !important;
}
<<<<<<< HEAD
.z-index-minus-2 {
  z-index: -2 !important;
=======
nav input{color: var(--Text-color) !important;}
.nav-link
{
    color: #fff;
    font-weight: bold;
>>>>>>> 486dd4ccf7e4916193a34fc15f786a525611e35c
}
.z-index-minus-3 {
  z-index: -6 !important;
}
.z-index-minus-4 {
  z-index: -8 !important;
}
.z-index-minus-5 {
  z-index: -10 !important;
}
.z-index-hot-minus {
  z-index: -100 !important;
}
/* no item can go under it (z-index:minus) */
.isolated {
  isolation: isolate;
}

/* !¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬ */

/* Users Previews Style */
.userCommentInner {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center !important;
}
.user_review_holder {
  height: 100%;
  width: 90%;
  border: solid 1px var(--main-color);
  color: var(--Text-color) !important;
  background-color: var(--bg-color) !important;
  border-radius: 20px;
}
.user_review_holder:focus {
  background: var(--Text-color) !important;
  color: var(--bg-color) !important;
}
.user-profile .scroller-y::-webkit-scrollbar {
  background: transparent;
  width: 6px;
  border-radius: 20px;
}
.scroller-y::-webkit-scrollbar-thumb {
  background: #fff;
  width: 6px;
  border-radius: 20px;
}
.scroller-x::-webkit-scrollbar {
  background: transparent;
  height: 6px;
  border-radius: 20px;
}
.scroller-x::-webkit-scrollbar-thumb {
  background: #fff;
  height: 6px;
  border-radius: 20px;
}
.card,
.Card,
.news-card {
  cursor: pointer;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100vw;
  background: var(--bg-color) !important;
  color: var(--Text-color) !important;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px;
  background: #000;
}
body::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 20px;
  background: #fff;
}

nav {
  background: transparent !important;
  color: var(--Text-color) !important;
  padding-bottom: 1.4rem;
  z-index: 100 !important;
}
.nav-link {
  color: #fff;
  font-weight: bold;
}
.active {
  font-weight: bolder;
}
a {
  text-decoration: none !important;
  color: var(--Text-color) !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
.logo a,
.fa-bars,
.navbar-brand,
<<<<<<< HEAD
.footer-logo .nav-link {
  color: var(--Text-color) !important;
  text-decoration: none !important;
=======
.footer-logo
.nav-link{color: var(--Text-color) !important; text-decoration: none !important;}
form {position:relative;width: 18em}
form input{background: transparent !important;width: 100%;}
form input::placeholder{color: gray !important;}
form input:focus{outline: solid 1px yellow !important;}
form button{position: absolute;right: .5rem;top: 50%;translate: 0 -50%;color: #ffffffb7 !important;}
form button:hover{color: #ffffff !important;}
.hero-section
{
    height: 100vh;
    height: 100dvh;
    margin-bottom:100vh; /*! incase some thein happend to the hero section delet this line */
>>>>>>> 486dd4ccf7e4916193a34fc15f786a525611e35c
}
form {
  position: relative;
  width: 18em;
}
form input {
  background: transparent !important;
  width: 100%;
}
form input::placeholder {
  color: gray !important;
}
form input:focus {
  outline: solid 1px var(--backUp-color) !important;
}
form button {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  translate: 0 -50%;
  color: #ffffffb7 !important;
}
form button:hover {
  color: #ffffff !important;
}
.hero-section {
  height: 100vh;
  height: 100dvh;
  margin-top: 0rem;
}
.hero-card {
  position: absolute;
  top: 40%;
  left: 8%;
  translate: 0 -50%;
  width: 18rem;
  max-width: 100vw;
  white-space: wrap;
}
<<<<<<< HEAD

.News-main .hero-card {
  width: 40rem;
}

#HeaderCover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10 !important;
  object-fit: cover;
  filter: brightness(40%);
=======
.News-main .hero-card{width: 40rem;}
#HeaderCover{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10 !important;
    object-fit: cover;
    filter: brightness(40%);
}
.carousel-cards-holder{overflow-x: scroll !important;display: flex;gap: .6rem;}
.cards-holder{flex-wrap: wrap;}
.carousel-countainer{position:relative;display: flex;flex-wrap: wrap;}
.arrows-holder
{
    position: absolute;
    top: 42%;
    left: 0;
    min-width: 100%;
    height: 0;
    z-index: 100;
}
.arrow:hover{opacity: 1;}
.arrow
{
    cursor: pointer;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    background: #fff;
    color: #000;
    opacity: .2;
    transition: .3s linear;
}
.carousel-cards-holder::-webkit-scrollbar{display: none;}
.carousel-cards-holder .card{min-width: 10rem;}
.card,.CharacterCard,.CronolgyCard
{
    position: relative;
    height: 14rem;
    width: 10rem;
    background: transparent !important;
    border-radius: 12px;
    overflow: hidden;
}
/* ! */
.card::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top,#000,transparent);
    z-index: 1 !important;
}
/* ! */
.rate-score
{
    position: absolute;
    top: 0;right: 0;
    height: fit-content;
    width: 50%;
    translate: 45% 0;
    padding: .1rem .7rem; 
    border-radius: 6px;
    background: rgb(41, 39, 39);
    z-index: 5;
    font-weight: lighter;
    display: none;
}
.card:hover>.rate-score{display: block;}

.special-section{margin-top: -20%;}
@media (max-width:320px) {
    .catalog-main .card,
    .card,.CronolgyCard{
        height: 9rem !important;
        width: 5rem !important;
    }
    .carousel-cards-holder .card{min-width: 5rem;}
   .card h5{font-size: .9rem !important;}
   .card span{font-size: .6rem !important;}
   .footer-link{font-size: .8rem;}
>>>>>>> 486dd4ccf7e4916193a34fc15f786a525611e35c
}
.carousel-cards-holder {
  overflow-x: scroll !important;
}
.cards-holder {
  flex-wrap: wrap;
}
.carousel-countainer {
  position: relative;
}
.arrows-holder {
  position: absolute;
  top: 42%;
  left: 0;
  min-width: 100%;
  height: 0;
  z-index: 100;
}
.arrow:hover {
  opacity: 1;
}
.arrow {
  cursor: pointer;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  background: #fff;
  color: #000;
  opacity: 0.2;
  transition: 0.3s linear;
}
.carousel-cards-holder::-webkit-scrollbar {
  display: none;
}
.carousel-cards-holder .card {
  min-width: 10rem;
}
.card {
  position: relative;
  height: 14rem;
  width: 10rem;
  background: transparent !important;
  border-radius: 12px;
  overflow: hidden;
}
.rate-score {
  position: absolute;
  top: 0;
  right: 0;
  height: fit-content;
  width: 50%;
  translate: 45% 0;
  padding: 0.1rem 0.7rem;
  border-radius: 6px;
  background: rgb(41, 39, 39);
  z-index: 5;
  font-weight: lighter;
  display: none;
}
.card:hover > .rate-score {
  display: block;
}

.special-section {
  margin-top: -20%;
}

.card img,
.card .video {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card h5,
.card span {
  position: absolute;
  left: 0.5rem;
  color: #fff !important;
  z-index: 2 !important;
}
.card h5 {
  bottom: 2rem;
  font-size: 1.2rem;
}
.card span {
  bottom: 1rem;
}

/*? showing the background video:hover*/
.card:hover > .after-card {
  display: block;
}
.after-card {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  transition: 0.3s linear;
}
.after-card span i:hover {
  scale: 1.2;
  transition: ease-in 0.1s;
}
.like-btn.active i {
  color: red !important;
}
.save-btn.active i {
  color: green !important;
}
.like-btn i {
  position: absolute;
  left: 6.5rem;
  bottom: 0.6rem;
  scale: 1.1;
  padding: 0.5rem;
  border-radius: 50%;
  border: solid 1px #fff;
}
.save-btn i {
  position: absolute;
  right: -2.4rem;
  bottom: 0.6rem;
  scale: 1.1;
  padding: 0.5rem 0.6rem;
  border-radius: 50%;
  border: solid 1px #fff;
}

/* ! Styling the collections */
/* styling the regular collections viewer */
.collection-card {
  flex-grow: 1;
  cursor: pointer;
  background: var(--main-color);
  border-radius: 12px;
}
.cards {
  background: var(--main-color);
  height: 16rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.cards .card {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 50%;
  left: 50%;
  translate: -50% 0%;
  border: solid 5px #000;
}
.cards .card:hover {
  scale: 1.1;
  transition: 0.5s linear;
}
.collection-card .Cards .Card:nth-child(1) {
  rotate: -10deg !important;
  left: 30%;
  top: 12%;
}
.collection-card .Cards .Card:nth-child(2) {
  rotate: 6deg !important;
  left: 50%;
  top: 25%;
}
.collection-card .Cards .Card:nth-child(3) {
  rotate: 16deg !important;
  left: 67%;
  top: 40%;
}
.CollectionCountainer {
  display: flex;
  gap: 1rem;
}
.CollectionCountainer h5 {
  width: 10rem;
  margin: auto;
}
/* styling the collections lab inner */
.Collections_lab_inner {
  position: relative;
  min-height: 100vh;
  width: 100%;
  z-index: 100 !important;
}
.main-card {
  background: var(--bg-color), #000 !important;
}
.collections-cards {
  height: 20rem;
  overflow: hidden scroll;
}
.collections-cards::-webkit-scrollbar {
  background: transparent;
  width: 6px;
  border-radius: 20px;
}
.collections-cards::-webkit-scrollbar-thumb {
  background: #fff;
  width: 6px;
  border-radius: 20px;
}
.collections-creater {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  background: #000 !important;
  z-index: 100;
}
.checkbox-field {
  width: 100%;
  display: flex;
  align-items: center;
}
.checkbox-field input[type="checkbox"] {
  height: 0.9rem;
  cursor: pointer;
}
.checkbox-field label {
  white-space: nowrap;
}

.collections-cards {
  min-width: 100%;
  max-width: max-content;
}
.collections-cards .collection img {
  height: 100%;
  max-width: 2.5rem;
  border-radius: 15px;
}
.collections-cards .collection {
  height: 4rem;
  min-width: 100%;
}
.collections-cards .collection h5 {
  white-space: nowrap;
}
.items-count {
  color: gray;
}
.hide-creater-section i:hover {
  color: #000;
}
.hide-creater-section {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 2rem;
  width: 2rem;
  background: #ffffff60;
  border-radius: 50%;
  cursor: pointer;
}
.go_back_btn {
  position: absolute;
  top: 5rem;
  left: 1rem;
  height: 2rem;
  width: 2rem;
  background: #ffffff60;
  border-radius: 50%;
  cursor: pointer;
}

.ex-Coll-btn {
  position: absolute;
  top: 5rem;
  right: 1rem;
  height: 2rem;
  width: 2rem;
  background: #ffffff60;
  border-radius: 50%;
  cursor: pointer;
}

/* ! Catalog Styling */
.catalog-countainer {
  min-height: max-content;
  max-width: 100vw;
}
.catalog-column {
  height: fit-content;
}
.accordion {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.accordion-item {
  width: 100% !important;
  background: transparent !important;
  margin-top: 1rem;
}
.accordion-button {
  background: transparent !important;
  color: var(--Text-color);
  font-weight: 700;
}
.accordion-body {
  color: var(--Text-color);
}
.year-card {
  padding: 0.7rem;
  border: solid 1px var(--Text-color);
  border-radius: 9px;
}
.years-accordion-body {
  margin-left: -10%;
}
.season,
input [type="checkbox"] {
  cursor: pointer;
}
.view-all {
  color: var(--backUp-color) !important;
  font-size: 17px;
}

.catalog-main .card {
  height: 12rem;
  width: 10rem;
}

/* ! Styling the News page */
.news-section {
  margin-top: -20%;
  z-index: 100 !important;
}

.news-card {
  position: relative;
  height: 18rem;
  display: flex;
  align-items: start;
  justify-content: flex-end;
  flex-direction: column;
  border-radius: 12px !important;
  overflow: hidden;
  flex-grow: 1;
}
.news-card img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -2;
}
.news-card::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #000 10%, transparent);
  z-index: -1;
}

/*! User Main Stylings */
.fa-solid.fa-filter {
  color: #000 !important;
}
.top-user-cover {
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 50%;
}
.dropdown button {
  border: none !important;
  color: #eeee !important;
}
.user-main #ProfileBackdropCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 47% !important;
  z-index: -2;
  filter: brightness(40%);
  object-fit: cover;
}
.hero-user {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  gap: 1rem;
}
.hero-user .user-profile {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
}
.first-section {
  margin-top: 6%;
}
.first-section .col-lg-9 div {
  white-space: wrap;
}
.first-section .col-lg-9 {
  display: flex;
  align-items: center;
}
.score-type.active {
  border-bottom: 2px solid #ffffff;
}
.score-type {
  border-bottom: 1px solid #ffffffa6;
  padding-bottom: 0.3rem;
}

<<<<<<< HEAD
/* / ! styling the Regester Page  / */
.main-card button {
  font-weight: bolder;
  width: 100%;
=======
.collections-creater
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100%;
    background: #000;
    z-index: 100;
>>>>>>> 486dd4ccf7e4916193a34fc15f786a525611e35c
}
.main-card {
  border: solid 1px #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 2rem 1rem;
  border-radius: 12px;
}
.main-card input {
  width: 100%;
  height: 2.9rem;
  padding: 0 12px;
  border-radius: 8px;
  border: solid 1px #eee;
  background: transparent !important;
  color: #fff;
  font-weight: bold;
}
.fa-eye.position-absolute {
  right: 2%;
  top: 35%;
  cursor: pointer;
}
#user-email {
  height: 2.6rem;
  /* width: 70%; */
  border-radius: 12px;
  padding: 0 20px;
}
.social-icons i {
  scale: 1.3;
  margin: 0 2rem;
  cursor: pointer;
}
.fa-brands,
.fa-solid,
.social-icon:hover {
  transition: 0.3s linear;
}
.fa-brands.fa-facebook:hover {
  color: blue !important;
}
.fa-brands.fa-twitter:hover {
  color: lightblue !important;
}
.fa-brands.fa-youtube:hover {
  color: red !important;
}
.fa-brands.fa-instagram:hover {
  color: rgb(218, 55, 182) !important;
}

<<<<<<< HEAD
footer {
  margin-top: 5rem;
}
.logo {
  text-decoration: none !important;
  translate: 0 -20% !important;
}
=======
/* ! Styling the Preview Card page */
.hero-section{height: fit-content;}
.hero-body
{
    margin-top: 20vh;
}
.hero-bg-cover
{
    position: absolute;
    top: 0;
    left: 0;
    height: 40vh;
    width: 100%;
}
.hero-bg-cover img 
{
    object-fit: cover;
    filter: brightness(20%);
}
.trailer-btn
{
    position: absolute;
    bottom: 1.4rem;
    right: 2.4rem;
    z-index: 100 !important;
}
.Collections-btns
{
    min-width: 100% !important;
    display: flex;align-items: center;
    justify-content: space-between;
    gap: 10rem;
} 
.Collections-btns button {white-space: nowrap;}
@media (max-width:768px)
{
    .anime-cover img{height: 10rem;width: 6.44rem;}
    .Collections-btns
    {
        flex-direction: column;
        display: flex;align-items: center;
        justify-content:center;
        gap: 2rem;
    } 
   .Collections-btns button {margin-top:.2rem}
   .Collections-btns .add-coll{margin: 0;}
   .hero-body{gap: .6rem;margin-top: 70%;}
}
.RelationsSection .card
{
  height: 14rem;
  width: 10rem;
}
.ReviewsSection
{
  max-width: 100%;
}
  @media (min-width:768px){
      .ReviewsSection{width: 70%;}.choosen-coll button{width: max-content;}
  }
@media (max-width:320px){
  .hero-body,.choosen-coll
  {flex-direction: column;}
}
.user-profile
{
  height: 3rem !important;
  max-width: 3rem !important;
  border-radius: 50%;
  align-self: baseline;
}
#addingreview-section
{
    background: #000000ce;
    position: fixed !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100 !important;
}
.add-review-card
{
    position: relative;
    border: solid 1px #fff;
    background: #000;
    border-radius: 12px;
}
.exit-btn
{
    position: absolute;
    top: .6rem;
    right: 1rem;
    cursor: pointer;
}
.add-review-card form
{
   display: flex;
   align-items: start;
   justify-content: space-between;
   flex-direction: column;
}
.add-review-card form textarea
{
    width: 100%;
    color: #fff;
    background: transparent !important;
    padding: 1rem;
}










footer{margin-top: 5rem;}
.footer-logo{text-decoration: none !important;}
>>>>>>> 486dd4ccf7e4916193a34fc15f786a525611e35c
.footer-body,
.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-body {
  justify-content: space-between;
}
.footer-text li {
  list-style: none !important;
  white-space: nowrap;
}
.col-icons li {
  margin: 0 1rem;
}
